* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header visuals */
#headercard {
  margin: 0;
  padding: 0;
}

#header {
  margin: 0;
  padding: 0;
  border: none !important;
}

#whiteheader {
  height: 130px;
  font-size: 2.5rem;
  color: rgb(128, 118, 103);
}

/* Background Image Set up */
body {
  background-image: url("../images/food6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* background-color: rgb(214, 203, 203) !important;
  background-image: linear-gradient(grey, white);
  height: 100vh; */
}

/* formating ALL buttons */
.btn {
  border-radius: 0px !important;
  background-color: rgb(126, 106, 134) !important;
  color: aliceblue !important;
}

#add-ingredient-button {
  margin: 5px;
}

#add-recipe {
  margin: 5px 0px;
}
input {
  border-radius: 5px !important;
  border: none !important;
  padding: 8px;
}

#recipe-ingredients,
#recipe-name {
  padding: 10px !important;
  margin: 5px 0px !important;
}

#recipe-ingredients {
  border-radius: 5px;
}

#cards {
  max-width: 50% !important;
}

.list-group {
  padding: 10px !important;
}

@media screen {
  (max-width: 375px)
  #header #recipe-ingredients {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  #cards {
    grid-template-columns: repeat(300px, 1fr);
  }
}
